#gitignore for python
__pycache__/
*.py[cod]
*$py.class


#gitignore for pycharm
.idea/
*.iml
*.iws
*.ipr

#gitignore for datasets
datasets/*
#but keep nietz.txt
!datasets/nietz.txt

#gitignore for models
models/*

#wandb
wandb/

#gitignore for notebooks
.ipynb_checkpoints/